<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Wishlist</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="fast-food-sharp"></ion-icon>
      <ion-card-title>CILANTRO / HARA DHANIA / KOTIMIRA - 1 BUNCH</ion-card-title>
      <ion-card-subtitle>$0.69</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button shape="round" size="small">Add to Cart</ion-button>
    <ion-button size="small">
      <ion-icon shape="round" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="fast-food-sharp"></ion-icon>
      <ion-card-title>ONIONS RED - 1 LB</ion-card-title>
      <ion-card-subtitle>$0.89</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button shape="round" size="small">Add to Cart</ion-button>
    <ion-button size="small">
      <ion-icon shape="round" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="fast-food-sharp"></ion-icon>
      <ion-card-title>TOMATO ROMA / TAMAATAR 1LB</ion-card-title>
      <ion-card-subtitle>$1.29</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button shape="round" size="small">Add to Cart</ion-button>
    <ion-button size="small">
      <ion-icon shape="round" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="fast-food-sharp"></ion-icon>
      <ion-card-title>BROWN BASMATI RICE ROYAL - 2 LBS / 907 GMS</ion-card-title>
      <ion-card-subtitle>$4.99</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button shape="round" size="small">Add to Cart</ion-button>
    <ion-button size="small">
      <ion-icon shape="round" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="fast-food-sharp"></ion-icon>
      <ion-card-title>AMUL PANEER CUBES [ MALAI ] - 200 GMS</ion-card-title>
      <ion-card-subtitle>$4.99</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button shape="round" size="small">Add to Cart</ion-button>
    <ion-button size="small">
      <ion-icon shape="round" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="fast-food-sharp"></ion-icon>
      <ion-card-title>KASURI METHI BADSHAH - 100 GMS / 3.5 OZ</ion-card-title>
      <ion-card-subtitle>$1.29</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button shape="round" size="small">Add to Cart</ion-button>
    <ion-button size="small">
      <ion-icon shape="round" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
