<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">
      Forgot your password? We can help.
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-item class="align">
        <ion-icon color="primary" name="mail-outline"></ion-icon>
        <ion-input placeholder="Enter Email"></ion-input>
      </ion-item>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-button fill="clear" size="small" horizontal="end" vertical="bottom">Check With Mobile No</ion-button>
        <ion-button size="small">Send OTP</ion-button>
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-title size="small">Remember your password?</ion-title>
        <ion-button routerLink="/login" fill="clear" color="primary">Login</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
