<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-buttons>
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title color="dark">Special Offers</ion-title>
    <ion-button fill="clear" slot="end" color="dark">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button slot="end">
      <ion-icon name="swap-vertical-sharp"></ion-icon>
      Sort by
    </ion-button>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-grid>
    <ion-row sixe-xs="12" size-md="10">
      <ion-col sixe-xs="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-icon name="fast-food-sharp"></ion-icon>
            <ion-card-title>AMUL PANEER BLOCK</ion-card-title>
            <ion-card-subtitle>200 GMS - $5.49</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
          <ion-button shape="round">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button shape="round"> 
            <ion-icon name="add-sharp"></ion-icon>
            Add
          </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sixe-xs="12" size-md="6">
        <ion-card>
      <ion-card-header>
        <ion-icon name="fast-food-sharp"></ion-icon>
        <ion-card-title>AMUL PANEER BLOCK</ion-card-title>
        <ion-card-subtitle>200 GMS - $5.49</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
      <ion-button shape="round">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button shape="round"> 
        <ion-icon name="add-sharp"></ion-icon>
        Add
      </ion-button>
      </ion-card-content>
    </ion-card>
      </ion-col>

      <ion-col sixe-xs="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-icon name="fast-food-sharp"></ion-icon>
            <ion-card-title>AMUL PANEER CUBES</ion-card-title>
            <ion-card-subtitle>200 GMS - $4.99</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
          <ion-button shape="round">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button shape="round">
            <ion-icon name="add-sharp"></ion-icon>
            Add
          </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sixe-xs="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-icon name="fast-food-sharp"></ion-icon>
            <ion-card-title>BASMATI RICE ROYALS</ion-card-title>
            <ion-card-subtitle>2.27 KG - $9.99</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
          <ion-button shape="round">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button shape="round"> 
            <ion-icon name="add-sharp"></ion-icon>
            Add
          </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sixe-xs="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-icon name="fast-food-sharp"></ion-icon>
            <ion-card-title>BESAM, GRAM FLOUR</ion-card-title>
            <ion-card-subtitle>1.8 KGS $5.29</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
          <ion-button shape="round">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button shape="round"> 
            <ion-icon name="add-sharp"></ion-icon>
            Add
          </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sixe-xs="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-icon name="fast-food-sharp"></ion-icon>
            <ion-card-title>BROWN BASMATI RICE</ion-card-title>
            <ion-card-subtitle>200 GMS - $5.49</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
          <ion-button shape="round">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button shape="round"> 
            <ion-icon name="add-sharp"></ion-icon>
            Add
          </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      

      <ion-col sixe-xs="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-icon name="fast-food-sharp"></ion-icon>
            <ion-card-title>BUTTER MILK SPICY AMUL MASTI</ion-card-title>
            <ion-card-subtitle>200 GMS - $5.49</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
          <ion-button shape="round">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button shape="round"> 
            <ion-icon name="add-sharp"></ion-icon>
            Add
          </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sixe-xs="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-icon name="fast-food-sharp"></ion-icon>
            <ion-card-title>BUTTER MILK SPICY AMUL MASTI</ion-card-title>
            <ion-card-subtitle>200 GMS - $5.49</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
          <ion-button shape="round">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button shape="round"> 
            <ion-icon name="add-sharp"></ion-icon>
            Add
          </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
</ion-content>
